.movie {
            display: flex;
            align-items: center;
            border-bottom: 1px solid white;
        }

        .movie img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            object-position: center;
            margin-right: 20px;
            border: 1px solid white;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }

        .movie img:hover {
            transform: scale(1.1);
        }

        .movie-info {
            flex: 1;
            border: 1px solid white;
            border-radius: 10px;
        }

        .movie-info h2,
        .movie-info p {
            padding: 10px;
        }

        footer {
            border-top: 1px solid white;
        }

        a {
            color: white;
            text-decoration: none;
        }